@font-face {
  font-family: 'Super Plumber Brothers';
  src: url('../supermario.ttf');
}

body {
	background-image: url('../img/caphill.jpg');
	background-size: cover;
}

#title-container {
    position: relative;
    float: left;
    left: 21em;
    top: 1em;
    text-align: center;
    width: 880px;
    line-height: 80px;   
}

#title-text {
	color: #FFFFCC; 
	background-color: red;
	font-family: 'Super Plumber Brothers';
	font-size: 60px;
	text-shadow: 3px 3px 3px black;
	padding-top: 20px;
}

.buttons {
	position: absolute;
	left: 90px;
	top: 150px;
}

#new-game {
	height: 60px;
	font-family: 'Super Plumber Brothers', CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 3px;
	font-size: 40px;
	display: block;
	padding: 10px 15px;
    background: gray;
    color: #FFFFCC;
    text-shadow: 3px 3px 3px black;
}

#instructions {
	height: 50px;
	font-family: 'Super Plumber Brothers', CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 3px;
	font-size: 35px;
	display: block;
	padding: 10px 15px;
    background: gray;
    color: #FFFFCC;
    text-shadow: 3px 3px 3px black;
}

.gameboard {
    float: left;
    position: relative;
    left: 16em;
    top: 3em;
    height: 575px;
    width:700px;
    border: 5px solid #FFFFCC;
}

.gamecard {
	height: 150px;
	width: 100px;
}

.gamecard img:hover {
	border: 5px solid orange;

}

.row-centered {
	text-align: center;
	margin-top: 20px;
}

.col-centered {
	display: inline-block;
	float: none;
	text-align: center;
	margin-right: -4px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.scoreboard {
	position: absolute;
	top: 250px;
	left: 1200px;
	background-color: gray;
	height: 225px;
	width: 200px;
	opacity: .9;
	border: 1px solid black;
}

.both-players {
	font-family: "Super Plumber Brothers"; CenturyGothic, AppleGothic, sans-serif;
	font-size: 36px;
	letter-spacing: 3px;
	color: #FFFFCC;
	margin-top: 15px;
	padding: 15px;
	text-shadow: 3px 3px 3px black;
}

#mario {
	position: fixed;
	left: 5px;
	bottom: 305px;
	height: 180px;
	width: 200px;
}

#pipe {
	position: fixed;
	left: 5px;
	bottom: 0;
	height: 300px;
}

.instruction-prompt {
	text-align: justify;
}